:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75%;
}

@media screen and (max-height: 992px) {
  :host {
    min-height: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .mat-card {
    margin: 40px;

    .mat-form-field, .mat-table {
      margin: 0 16px;
      width: calc(100% - 32px);

      .cdk-column-select:first-of-type {
        padding: 0 16px;
        width: 16px;
      }
    }
  }
}

.login {
  color: white;
  margin: 0 72px;

  .logged-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
